In [ ]:
# Manipolazione e Aggregazione dei Dati



# Obiettivo: Approfondire le capacità di manipolazione e aggregazione dei dati con
# pandas.



# Dataset: Utilizzare un dataset che registra le vendite di prodotti in diverse
# città, includendo le colonne Prodotto, Quantità, Prezzo Unitario e Città.



# Caricare i dati in un DataFrame.
# Aggiungere una colonna "Totale Vendite" che sia il risultato del prodotto tra
# Quantità e Prezzo Unitario.
# Raggruppare i dati per Prodotto e calcolare il totale delle vendite per
# ciascun prodotto.
# Trovare il prodotto più venduto in termini di Quantità.
# Identificare la città con il maggior volume di vendite totali.
# Creare un nuovo DataFrame che mostri solo le vendite superiori a un certo
# valore (es., 1000 euro).
# Ordinare il DataFrame originale per la colonna "Totale Vendite" in ordine
# decrescente.
# Visualizzare il numero di vendite per ogni città.

In [1]:
import pandas as pd
import numpy as np

# Generare dati casuali
np.random.seed(0)
prodotti = ['Prodotto A', 'Prodotto B', 'Prodotto C', 'Prodotto D', 'Prodotto E']
quantita = np.random.randint(1, 20, size=20)
prezzo_unitario = np.random.randint(10, 100, size=20)
citta = ['Roma', 'Milano', 'Napoli', 'Torino', 'Palermo', 'Genova', 'Bologna', 'Firenze', 'Venezia', 'Verona']
citta = np.random.choice(citta, size=20)

# Creare il DataFrame
df = pd.DataFrame({
    'Prodotto': np.random.choice(prodotti, size=20),
    'Quantità': quantita,
    'Prezzo Unitario': prezzo_unitario,
    'Città': citta
})

# Visualizzare il DataFrame originale
print("DataFrame originale:")
print(df)

DataFrame originale:
      Prodotto  Quantità  Prezzo Unitario    Città
0   Prodotto B        13               30  Palermo
1   Prodotto B        16               90  Firenze
2   Prodotto D         1               79   Torino
3   Prodotto D         4               89   Napoli
4   Prodotto C         4               57  Firenze
5   Prodotto D         8               74   Napoli
6   Prodotto A        10               92     Roma
7   Prodotto D        19               98     Roma
8   Prodotto E         5               59  Palermo
9   Prodotto B         7               39   Genova
10  Prodotto C        13               29   Genova
11  Prodotto E         2               29  Bologna
12  Prodotto D         7               24  Venezia
13  Prodotto E         8               49  Palermo
14  Prodotto E        15               42   Milano
15  Prodotto E        18               75  Palermo
16  Prodotto D         6               19   Verona
17  Prodotto E        14               67  Venezia
18  Prodotto E         9               42   Milano
19  Prodotto E        10               41   Milano

In [2]:
# Aggiungere una colonna "Totale Vendite"
df['Totale Vendite'] = df['Quantità'] * df['Prezzo Unitario']
print("\nDataFrame con la colonna 'Totale Vendite':")
print(df)

DataFrame con la colonna 'Totale Vendite':
      Prodotto  Quantità  Prezzo Unitario    Città  Totale Vendite
0   Prodotto B        13               30  Palermo             390
1   Prodotto B        16               90  Firenze            1440
2   Prodotto D         1               79   Torino              79
3   Prodotto D         4               89   Napoli             356
4   Prodotto C         4               57  Firenze             228
5   Prodotto D         8               74   Napoli             592
6   Prodotto A        10               92     Roma             920
7   Prodotto D        19               98     Roma            1862
8   Prodotto E         5               59  Palermo             295
9   Prodotto B         7               39   Genova             273
10  Prodotto C        13               29   Genova             377
11  Prodotto E         2               29  Bologna              58
12  Prodotto D         7               24  Venezia             168
13  Prodotto E         8               49  Palermo             392
14  Prodotto E        15               42   Milano             630
15  Prodotto E        18               75  Palermo            1350
16  Prodotto D         6               19   Verona             114
17  Prodotto E        14               67  Venezia             938
18  Prodotto E         9               42   Milano             378
19  Prodotto E        10               41   Milano             410

In [5]:
# Raggruppare i dati per Prodotto e calcolare il totale delle vendite per ciascun prodotto
vendite_per_prodotto = df.groupby('Prodotto')['Totale Vendite'].sum().reset_index()
print("\nTotale vendite per prodotto:")
print(vendite_per_prodotto)

Totale vendite per prodotto:
     Prodotto  Totale Vendite
0  Prodotto A             920
1  Prodotto B            2103
2  Prodotto C             605
3  Prodotto D            3171
4  Prodotto E            4451

In [6]:
# Trovare il prodotto più venduto in termini di Quantità
prodotto_piu_venduto = df.groupby('Prodotto')['Quantità'].sum().idxmax()
print(f"\nIl prodotto più venduto in termini di Quantità è: {prodotto_piu_venduto}")

Il prodotto più venduto in termini di Quantità è: Prodotto E

In [12]:
# Identificare la città con il maggior volume di vendite totali
citta_maggior_vendite = df.groupby('Città')['Totale Vendite'].sum().idxmax()
print(f"\nLa città con il maggior volume di vendite totali è: {citta_maggior_vendite}")

La città con il maggior volume di vendite totali è: Roma

In [14]:
# Creare un nuovo DataFrame che mostri solo le vendite superiori a un certo valore (es., 1000 euro)
vendite_superiori_1000 = df[df['Totale Vendite'] > 1000]
print("\nDataFrame con vendite superiori a 1000 euro:")
print(vendite_superiori_1000)

DataFrame con vendite superiori a 1000 euro:
      Prodotto  Quantità  Prezzo Unitario    Città  Totale Vendite
1   Prodotto B        16               90  Firenze            1440
7   Prodotto D        19               98     Roma            1862
15  Prodotto E        18               75  Palermo            1350

In [21]:
# Ordinare il DataFrame originale per la colonna "Totale Vendite" in ordine decrescente
grouped=df.groupby("Città")["Totale Vendite"].sum()
df_ordinato = grouped.sort_values(ascending=False)
print("\nDataFrame ordinato per 'Totale Vendite' in ordine decrescente:")
print(df_ordinato)

DataFrame ordinato per 'Totale Vendite' in ordine decrescente:
Città
Roma       2782
Palermo    2427
Firenze    1668
Milano     1418
Venezia    1106
Napoli      948
Genova      650
Verona      114
Torino       79
Bologna      58
Name: Totale Vendite, dtype: int32

In [22]:
# Visualizzare il numero di vendite per ogni città
numero_vendite_per_citta = df['Città'].value_counts()
print("\nNumero di vendite per ogni città:")
print(numero_vendite_per_citta)

Numero di vendite per ogni città:
Città
Palermo    4
Milano     3
Firenze    2
Napoli     2
Genova     2
Roma       2
Venezia    2
Torino     1
Bologna    1
Verona     1
Name: count, dtype: int64